.topics {
  background: var(--blue-degrade);
  text-align: center;
  padding: 1.5em 0;
}

.topicsTitle {
  color: var(--white);
  font-weight: 300;
  margin-bottom: 1em;
}

.topicsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.topicsItem {
  margin: 2em 0.5em;
}

.topicsLink {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 1em 1.5em;
  background-color: var(--orange);
}

@media screen and (min-width: 1024px) {
  .topics {
    padding: 2em 0;
  }

  .topicsTitle {
    font-size: 24px;
    margin-bottom: 2em;
  }

  .topicsLink {
    font-size: 24px;
    padding: 1.5em 2em;
  }

  .topicsList {
    display: flex;
    flex-wrap: wrap;
  }

  .topicsItem {
    margin: 52px 12px;
  }
}

@media screen and (min-width: 1728px) {
  .topics {
    padding: 1em 20vw;
  }

  .topicsTitle {
    font-size: 32px;
    padding-top: 1.5em;
  }

  .topicsList {
    padding-bottom: 3em;
  }
}
